credito-imoveis/application_test_student.csv
credito-imoveis/application_train.csv
credito-imoveis/bureau_balance.csv
credito-imoveis/bureau.csv
credito-imoveis/credit_card_balance.csv
credito-imoveis/HomeCredit_columns_description.csv
credito-imoveis/installments_payments.csv
credito-imoveis/metadados.pdf
credito-imoveis/POS_CASH_balance.csv
credito-imoveis/previous_application.csv
credito-imoveis/sample_submission.csv
credito-imoveis/__MACOSX/._application_train.csv
credito-imoveis/__MACOSX/._bureau.csv
credito-imoveis/__MACOSX/._bureau_balance.csv
credito-imoveis/__MACOSX/._credit_card_balance.csv
credito-imoveis/__MACOSX/._HomeCredit_columns_description.csv
credito-imoveis/__MACOSX/._installments_payments.csv
credito-imoveis/__MACOSX/._metadados.pdf
credito-imoveis/__MACOSX/._POS_CASH_balance.csv
credito-imoveis/__MACOSX/._previous_application.csv
credito-imoveis/__MACOSX/._sample_submission.csv
